*{margin: 0;padding: 0;}
.booy{
    width:524px;
    height:518px;
    margin:auto;
    background:#ccc;
    overflow: hidden;
}
.booy .top{
    width: 200px;
    height: 100px;
    background:#51a251;
    margin-left:162px;
    margin-top:67px;
    border-radius: 50% 50% 0 0 / 100% 100% 0 0; 
}
.booy .top1{
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
    float:left;
    position: relative;
    left:60px;
    top:50px;
}
.booy .top2{
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;  
    float:left; 
    position: relative;
    left:100px;
    top:50px;
}
.booy .middle{
    width: 280px;
    height: 230px;
    margin-left:122px;
    margin-top:10px;
}
.booy .middle-left{
    width: 30px;
    height: 180px;
    background:#51a251;
    float: left;
    border-radius: 10px 10px 10px 10px;
    margin-top:10px;
}
.booy .middle-center{
    width: 200px;
    height: 230px;
    background: #51a251;
    margin-left:10px;
    float:left;
    border-radius: 0 0 19px 19px;
}
.booy .middle-right{
    width: 30px;
    height: 180px;
    background:#51a251;
    float: left;
    border-radius: 10px 10px 10px 10px;
    margin-top:10px;
    margin-left:10px;
}
.booy .bottom{
    width: 120px;
    height: 80px;
    margin-left:202px;
}
.booy .bottom-left{
    width: 30px;
    height: 80px;
    background: #51a251;
    float:left;
    border-radius: 0 0 14px 14px ;
}
.booy .bottom-right{
    width: 30px;
    height: 80px;
    background: #51a251;
    float:right;
    border-radius: 0 0 14px 14px ;
}